[Unit]
Description=UxPlay AirPlay mirroring receiver
After=network-online.target sound.target time-sync.target
Wants=network-online.target time-sync.target

[Service]
StandardOutput=append:/var/log/uxplay.log
StandardError=append:/var/log/uxplay.log
LimitCORE=infinity
WorkingDirectory=/home/uxplay
Environment=HOME=/home/uxplay
Environment=GST_REGISTRY=/home/uxplay/.cache/gstreamer-1.0/registry.bin
Type=simple
User=uxplay
ExecStartPre=/usr/local/bin/zero-fb0
ExecStart=/usr/bin/stdbuf -oL -eL /usr/local/bin/uxplay_debug -vd v4l2h264dec -vc identity -srgb no -n "Living Room TV" -reset 60 -vs "kmssink qos=false ts-offset=300000000" -as "alsasink device=plughw:vc4hdmi,0"
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
